.summary {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-gap: 20px;

    padding: 20px 50px;
    box-sizing: border-box;
  
    &__img {
      width: 20%;

      @media (max-width: 850px) {
        width: 30%;
      }

      @media (max-width: 600px) {
        width: 40%;
      }

      @media (max-width: 450px) {
        width: 50%;
      }

      @media (max-width: 400px) {
        width: 60%;
      }
    }

    &__text {
      margin: 0;
      text-align: center;
    }
  }