@import "../variables.scss";

.header {
  width: 100%;

  &__mobile-btn {
    display: none;

    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;

    @media (max-width: 580px) {
      display: block;
      margin: 20px;
      z-index: 10;
      // position: relative;
      position: absolute;
    }

    i {
      font-size: 150%;
    }
  }
}

.navigation {
  width: 70%;
  margin: 0 auto;
  border-bottom: solid 1px $primary;

  display: flex;
  justify-content: space-around;
  align-items: center;


  @media (max-width: 800px) {
    width: 80%;
  }

  @media (max-width: 580px) {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    height: 0;
    width: 100%;
    flex-direction: column;
    z-index: 2;
    overflow: hidden;

    transition: height 0.4s ease-in;

    border: none;
    background: #ffffff;
  }



  &__link {
    padding: 10px 0;
    color: $primary;
    text-decoration: none;

    &:hover {
      text-shadow: $primary $shadow;
    }
  }

  &__link_active {
    text-shadow: $primary $shadow;
  }
}

.show-nav {
  height: 100vh;
}