.header {
  width: 100%;
}

.navigation {
  width: 70%;
  margin: 0 auto;
  border-bottom: solid 1px #ffffff;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  justify-items: center;


  @media (max-width: 800px) {
    width: 80%;
  }


  &__link {
    padding: 10px 0;
    color: #ffffff;
    text-decoration: none;
  }

  &__link_active {
    font-weight: bold;
    text-shadow: #ffffff 0 3px 10px;
  }
}