@import "~normalize.css";
@import "./variables.scss";

.App {
  max-width: 2000px;
  min-height: 100vh;
  margin: 0 auto;

  display: grid;
  grid-template-rows: auto 1fr auto;
  justify-items: center;
  align-items: center;

  background-image: url('../assets/tree.jpg');
  background-size: 100% 100%;

  color: $primary;
  font-family: 'Roboto', sans-serif;
}
